/*обнуление встроенных браузерных шрифтов*/
/*/* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*-----------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body {
  background-color: snow;
  color: snow;

  font-size: 17px;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:active {
  color: snow;
}
.container {
  width: 1010px;
  margin: auto;
  padding-top: 30px;
}
.info {
  margin: 15px;
  border-radius: 28px;
  border: 1px solid #930093;
  display: flex;
  margin-bottom: 20px;
}
.info:hover {
  box-shadow: 0px 0px 30px #930093;
}
@media (max-width: 700px) and (min-width: 600px) {
  .info {
    text-align: center;
    display: block;
  }
}
.img {
  width: 200px;
  border-radius: 28px;
  border: 2px solid #930093;
}
.info-text {
  margin-left: 40px;
}
.info-text h4 {
  margin-bottom: 10px;
}
.info p {
  color: snow;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.info span {
  font-style: italic;
}
.chill {
  width: 950px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 28px;
}
.chill:hover {
  box-shadow: 0px 0px 24px #930093;
}
.chill h2 {
  margin-bottom: 10px;
}
.bg-red {
  border-radius: 28px;
  border: 1px solid #930093;
}
.link-list {
  list-style: inside;
}
.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.bg-yellow {
  border-radius: 28px;
  border: 1px solid #930093;
}
.hobby {
  padding-left: 70px;
}
.hobby li {
  color: snow;
  margin-bottom: 10px;
}
.bg-green {
  border-radius: 28px;
  border: 1px solid #930093;
}
.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3) {
  color: snow;
}
.contact {
  width: 990px;
  border-radius: 28px;
  border: 1px solid #930093;
}
.contact:hover {
  box-shadow: 0px 0px 24px #930093;
}
.contact h2 {
  text-align: center;
}
.row {
  display: flex;
  margin-bottom: 20px;
}
.row input {
  text-align: center;
}
.row label {
  text-align: center;
}
.row > .form-group {
  width: 50%;
  margin-right: 20px;
}
.row > .form-group:last-child {
  margin-right: 0;
}
.form-group label {
  font-size: 19px;
  text-align: center;
  display: block;
  color: snow;
}
.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-bottom: 1px solid #930093;
  color: rgb(255, 255, 255);
  padding: 15px 0px 15px;
  outline: none;
  font-family: inherit;
}

#name,
#Email,
#sometext {
  background-color: #930093;
  opacity: 0.2;
  border: 1px solid snow;
  border-radius: 28px;
}
.btn {
  position: inherit;
  border: 2px solid #930093;
  border-radius: 28px;
  width: 100%;
  background: none;
  padding: 15px 20px;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
/* ------------------ */

/* Position */
/* .position {
   position: relative;
   height: 400px;
  border: 4px solid black;
  margin-top: 40px;
  padding: 20px;
}

.box {
  position: fixed;
  top:0;
  left: 0px;
  /* bottom: 150px; */
/* left: 0px; */
/* width:100%;
  height: 50px;
  background: lightcoral;
} */

/* .table tr:nth-child(even){
   color: red;
} */

/* .social { 
  background: rgb(195, 193, 192); */
/* padding: 15px;(top, right, bottom, left 15px)*/
/*padding: 15px 40px;/*(top, bottom 15px; right left 40px)*/
/* padding: 15px 20px 25px 30px;*/ /*15px(top) 20px(right) 25px(bottom) 30px(left)*/
/*margin: 20px; */

/*border: 5px solid black;
  border-bottom-style: dotted;
  border-top-width: 15px;
  border-right-color: blue;*/

/*}*/
